.container {
    font-family: "Arial", sans-serif;
}

body {
    background-color: darkgray;
}

/* Buttons */
button {
    margin: 5px;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

button.add-btn {
    background-color: #007bff;
    color: white;
}

button.delete-btn {
    background-color: #ff0000;
    color: white;
}

/* Task Input and List */
.task-section {
    text-align: center;
}

form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
